@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-lexend-deca);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  overflow-x: hidden;
}

.flex-center {
  @apply flex items-center justify-center;
}

.react-tel-input .flag-dropdown {
  border: none;
}

.react-tel-input .form-control {
  background-color: transparent;
  border: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-wrapper {
  height: 142px;
}

.glimpseSwiper .swiper-wrapper {
  height: 168px;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: auto;
  bottom: -21px;
  width: 41px;
}

.swiper-pagination-bullet-active {
  background-color: #352e39;
}

.swiper-button {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: 59px;
  height: 59px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 9.3px 0px #00000026;
}

.swiper-custom-pagination .swiper-pagination-progressbar-fill {
  background-color: #352e39;
  border-radius: 15px;
}

.swiper-button-disabled {
  display: none;
}

.cards li {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 14rem;
  height: 18rem;
  text-align: center;
  line-height: 18rem;
  font-size: 2rem;
  background-color: #9d7cce;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.8rem;
}

.view-3d-swiper-pagination {
  position: relative;
}

.view-3d-swiper-pagination {
  @apply flex items-center justify-center;
}

.view-3d-swiper-pagination .swiper-pagination-bullet {
  @apply flex h-10 w-10 items-center justify-center bg-transparent text-[22px] text-[#777777];
}

.view-3d-swiper-pagination .swiper-pagination-bullet-active {
  @apply rounded-full bg-[#D75337] text-white;
}

.react-responsive-modal-modal {
  width: 98%;
  margin-left: 0;
  margin-right: 0;
  max-width: 1200px;
  border-radius: 9px;
  @apply border-[3px] border-[#D75337] xl:h-[707px];
}

.react-responsive-modal-closeButton {
  display: none;
}

.model-3d div {
  @apply !flex items-center justify-center;
}

.project-info div:nth-child(odd) {
  background-color: #ffffff;
}

.project-info div:nth-child(even) {
  background-color: #fbfbfb;
}

.ReactModal__Overlay {
  @apply flex items-center justify-center;
}

.disabled .prev-link,
.disabled .next-link {
  cursor: default;
}
